<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerelement :: headerelement}"/>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/header :: header}"/>

    <main class="container py-4" th:object="${font}" th:if="${font}">
        <section class="d-flex justify-content-between align-items-center">
            <a th:href="@{/fontlist}" class="btn btn-outline-light"><img th:src="@{/icons/list.svg}"></a>

            <h1 th:text="|Pas '*{name}' aan|"></h1>
        </section>

        <form th:action="@{/admin/fontedit}" th:object="${font}" method="post" id="fontForm">
            <section class="card">
                <article>
                    <img alt="info_icon" th:src="@{/icons/info.svg}">
                    <h4>Font details</h4>
                </article>
            </section>
        </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>