<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerelement :: headerelement}"/>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/header :: header}"/>

    <main class="container py-4" th:object="${font}" th:if="${font}">
        <section class="d-flex justify-content-between align-items-center">
            <a th:href="@{/fontlist}" class="btn btn-outline-light"><img th:src="@{/icons/list.svg}"></a>

            <h1 th:text="|Pas '*{name}' aan|"></h1>
        </section>

        <form th:action="@{/admin/fontedit}" th:object="${font}" method="post" id="fontForm">
            <section class="card">
                <article>
                    <img alt="info_icon" th:src="@{/icons/info.svg}">
                    <h4>Font details</h4>
                </article>

                <article>
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="e.g. Helvetica Now">
                </article>

                <article class="row g-3 mb-3">
                    <div class="col-6">
                        <label class="form-label" for="category">Category</label>
                        <select class="form-select" id="category">
                            <option value="Serif">Serif</option>
                            <option value="Sans Serif">Sans Serif</option>
                            <option value="Monospace">Monospace</option>
                            <option value="Display">Display</option>
                            <option value="Handwriting">Handwriting</option>
                            <option value="Pixel">Pixel</option>
                            <option value="Calligraphy">Calligraphy</option>
                            <option value="Blackletter">Blackletter</option>
                            <option value="Cursive">Cursive</option>
                        </select>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="designer">Designer</label>
                        <select class="form-select" id="designer" name="designerId" th:field="*{designer}">
                            <option th:each="designer: ${designers}" th:value="${designer.id}" th:text="${designer.name}"></option>
                        </select>
                    </div>
                </article>

                <article class="row g-3">
                    <div class="col-6">
                        <label class="form-label" for="year">Release Year</label>
                        <input type="number" class="form-control" id="year" th:field="*{year}" placeholder="2026" min="1900" max="2100">
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="license">License Type</label>
                        <input type="text" class="form-control" id="license" th:field="*{license}" placeholder="OFL, Commercial...">
                    </div>
                </article>
            </section>

            <section>
                <a th:href="@{|/fontdetails/*{id}|}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </section>
        </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>