<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerelement :: headerelement}"/>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragments/header :: header}"/>

<main class="container" th:if="${fontCollection}" th:object="${fontCollection}">
    <section class="d-flex justify-content-between align-items-center">
        <a th:href="@{/fontcollectionlist}" class="btn btn-outline-light"><img th:src="@{/icons/list.svg}"></a>

        <h1 th:text="|Voeg font collection toe|"></h1>
    </section>

    <form th:action="@{/admin/fontcollectionnew}" method="post">
        <section class="card p-4 my-3">
            <article class="d-inline-flex justify-content-start align-items-center mb-3 gap-2">
                <img alt="info_icon" th:src="@{/icons/info.svg}">
                <h4>Font collection details</h4>
            </article>

            <article class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" required id="name" th:field="*{name}" placeholder="e.g. Customer Web App">
            </article>

            <article class="row g-3 mb-3">
                <div class="col-6">
                    <label class="form-label" for="description">Description</label>
                    <input type="text" class="form-control" id="description" required th:field="*{description}" placeholder="e.g. Car Rental Application">
                </div>
            </article>

            <article class="row g-3">
                <div class="col-6">
                    <label class="form-label" for="fonts">Fonts</label>
                    <select class="form-select" id="fonts" th:field="*{fonts}" multiple>
                        <option th:each="font: ${fonts}" th:value="${font.id}" th:text="${font.name}"></option>
                    </select>
                </div>
            </article>
        </section>

        <section>
            <button type="submit" class="btn btn-primary">Save</button>
        </section>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>