<nav class="navbar fixed-top bg-white border-bottom shadow-sm px-2 navbar-expand-sm navbar-light" th:fragment="header">
    <a class="navbar-brand" th:href="@{/home}">
        <img class="navbar-logo" th:src="@{${pageIcon}}" alt="page_icon">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:class="${currentUrl == '/home' ? 'nav-link active' : 'nav-link'}" th:href="@{/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a href="/fontdetails" th:class="${currentUrl == '/fontdetails' || currentUrl == '/fontlist' ? 'nav-link active dropdown-toggle' : 'nav-link dropdown-toggle'}" id="navbarDropdownFont" role="button" data-bs-toggle="dropdown" aria-expanded="false">Fonts</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownFont">
                    <li><a th:class="${currentUrl == '/fontlist' ? 'active dropdown-item' : 'dropdown-item'}" th:href="@{/fontlist}">List</a></li>
                    <li><a th:class="${currentUrl == '/fontdetails' ? 'active dropdown-item' : 'dropdown-item'}" th:href="@{/fontdetails.html}">Details</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a href="/clienthome" th:class="${currentUrl == '/clienthome' || currentUrl == '/clientdetails' ? 'nav-link active dropdown-toggle' : 'nav-link dropdown-toggle'}" id="navbarDropdownClient" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clients</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownClient">
                    <li><a th:class="${currentUrl == '/clienthome' ? 'active dropdown-item' : 'dropdown-item'}" th:href="@{/clienthome}">Home</a></li>
                    <li><a th:class="${currentUrl == '/clientdetails' ? 'active dropdown-item' : 'dropdown-item'}" th:href="@{/clientdetails}">Details</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a th:class="${currentUrl == '/about' ? 'nav-link active' : 'nav-link'}" th:href="@{/about}">About me</a>
            </li>
        </ul>
    </div>
</nav>