<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerelement :: headerelement}"/>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/header :: header}"/>

    <main class="container py-5">
        <div>
            <h1 class="text-center mb-5">Font list</h1>
            <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#filter">Filter</button>
        </div>


        <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filter" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/fontlist}">
                        <section class="modal-header">
                            <h5 class="modal-title fs-5" id="label">Filter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </section>

                        <section class="modal-body">
                            <article class="col-6 mb-3">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" th:value="${param.name}">
                            </article>

                            <article class="col-6 mb-3">
                                <label for="name">Category</label>
                                <input type="text" class="form-control" name="category" th:value="${param.category}">
                            </article>

                            <article class="col-6 mb-3">
                                <label for="name">License</label>
                                <input type="text" class="form-control" name="license" th:value="${param.license}">
                            </article>

                            <article class="col-12 mb-3">
                                <label class="form-label">Minimum year</label>
                                <input th:value="${param.yearFrom}" class="form-control" type="number" aria-label="minimum capaciteit" name="minCapacity" min="1900" max="2100" step="1">

                                <label class="form-label">Maximum year</label>
                                <input th:value="${param.yearTo}" class="form-control" type="number" aria-label="maximum capaciteit" name="maxCapacity" min="1900" max="2100" step="1">
                            </article>

                            <article class="col-12 mb-3">
                                <input type="checkbox" class="form-check-input" th:value="${param.archived}" name="archived" id="archived">
                                <label class="form-label" for="archived">Archived</label>
                            </article>

                            <button type="submit" class="btn btn-primary">Search</button>
                        </section>
                    </form>
                </div>
            </div>
        </div>

        <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <article class="col" th:each="font: ${fonts}" th:object="${font}" style="width: 18rem;">
                <div class="card h-100 border-1 rounder-4">
                    <div class="card-img-top d-flex align-items-center justify-content-center rounded-top-4"
                         style="height: 160px;">
                        <span class="text-center fs-1" th:text="*{name}"></span>
                    </div>

                    <div class="card-body d-flex justify-content-between align-items-center px-3 py-3">
                        <div>
                            <h6 class="card-title text-white fw-bold mb-1" th:text="*{name}"></h6>
                            <small class="text-secondary" th:text="|*{category} &bull; 14 Styles|"></small>
                        </div>

                        <a th:href="@{/fontdetails/{id}(id=*{id})}"
                           class="btn btn-sm btn-primary rounded-circle d-flex align-items-center justify-content-center"
                           style="width: 36px; height: 36px"
                        >
                            &rarr;
                        </a>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>