<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerelement :: headerelement}"/>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/header :: header}"/>

    <main class="container d-flex flex-column justify-content-center align-items-center">
        <article class="card mt-5 p-2">
            <p class="card-text h3">Simply beautiful open source fonts</p>
        </article>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>